<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="{% block metadesctiption %}Сайт для самообучения и самопроверки знаний. Найдите и пройдите
           интересные тесты, чтобы улучшить свои навыки и узнать новую информацию. Самоучка, самоконтроль, 
           самопроверка знаний, тесты.{% endblock metadesctiption %}">
    <meta name="keywords" content="Python, самопроверка, самоучка, самоконтроль, обучение программированию, тесты,
                                   программирование, практика и задачи, онлайн обучение, улучшение навыков.">
    <meta name="author" content="Oknedis">
    <!--Title-->
    <title>
        {% block title %}
            Make Yourself
        {% endblock title %}
    </title>
    <!--CSS-->
    <link rel="icon" type="image/x-icon" href="{% static 'common/img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'common/css/base.css' %}">
    {% block css %} {% endblock css %}
</head>
<!--Body-->
<body>
<!--Header-->
<header id="header">
    <!--Logo-->
    <a href="{% url 'common:index' %}" style="padding: 10px;">
        <img src="" alt="logo">
    </a>
    <!--Navigation-->
    <nav id="navigation">
        <a href="" style="padding: 10px;">Главная</a>
        <a href="" style="padding: 10px;">Блог</a>
        <a href="" style="padding: 10px;">Тесты</a>
        <a href="" style="padding: 10px;">О сайте</a>
    </nav>
</header>

<!--Content-->
{% block content %}

{% endblock content %}

<!--Footer-->
<footer>
    <p>Footer</p>
    {% block footer %}
    {% endblock footer %}
</footer>
</body>
</html>