<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Make Yourself! {% endblock title %}</title>
</head>
<body>
<h2><a href="{% url 'common:index' %}">Главная страница</a> </h2>

{% if user.is_authenticated %}
<h1> Hello, {{ user.username }}! </h1>
    <a href={{ user.get_absolute_url }}>Редактировать профиль</a> |
    <a href="{% url 'users:logout' %}"> Выход </a>
{% else %}
<div>
    <a href="{% url 'users:signup' %}"> Регистрация </a> |
     <a href="{% url 'users:login' %}">Войти</a>
</div>
{% endif %}

{% block content %}
{% endblock content %}

</body>
</html>