{% extends "common/base.html" %}

{% block title %} {{ block.super }} | {{ title }} {% endblock title %}

{% block content %}
<div class="container text-center" style="margin-top: 10%">
    <h4>Введите ваш адрес электронной почты для сброса пароля.</h4>
    <hr>
    <form method="post">
    {% csrf_token %}
    {% for field in form %}
        <p>{{ field.label_tag }}
        {{ field }}
        {% if field.errors %}
            <small>{{ field.errors }}</small>
        {% endif %}</p>
    {% endfor %}
    <button type="submit" class="btn btn-info">Сброс пароля</button>
    </form>
</div>
{% endblock content %}
